.event-card-container {
  clip-path: polygon(
    81.465% 0.219%,
    3.637% 0.219%,
    3.637% 0.219%,
    3.078% 0.27%,
    2.548% 0.419%,
    2.054% 0.656%,
    1.603% 0.975%,
    1.201% 1.367%,
    0.857% 1.824%,
    0.577% 2.337%,
    0.368% 2.9%,
    0.237% 3.503%,
    0.192% 4.139%,
    0.192% 95.861%,
    0.192% 95.861%,
    0.237% 96.497%,
    0.368% 97.1%,
    0.577% 97.663%,
    0.857% 98.176%,
    1.201% 98.633%,
    1.603% 99.025%,
    2.054% 99.344%,
    2.548% 99.581%,
    3.078% 99.73%,
    3.637% 99.781%,
    96.304% 99.781%,
    96.304% 99.781%,
    96.863% 99.73%,
    97.393% 99.581%,
    97.888% 99.344%,
    98.339% 99.025%,
    98.74% 98.633%,
    99.085% 98.176%,
    99.365% 97.663%,
    99.574% 97.1%,
    99.704% 96.497%,
    99.749% 95.861%,
    99.749% 22.99%,
    99.749% 22.99%,
    99.704% 22.354%,
    99.574% 21.751%,
    99.365% 21.188%,
    99.085% 20.675%,
    98.74% 20.218%,
    98.339% 19.826%,
    97.888% 19.508%,
    97.393% 19.27%,
    96.863% 19.121%,
    96.304% 19.07%,
    88.355% 19.07%,
    88.355% 19.07%,
    87.796% 19.019%,
    87.266% 18.87%,
    86.772% 18.633%,
    86.321% 18.314%,
    85.919% 17.922%,
    85.575% 17.465%,
    85.295% 16.952%,
    85.086% 16.389%,
    84.955% 15.786%,
    84.91% 15.15%,
    84.91% 4.139%,
    84.91% 4.139%,
    84.865% 3.503%,
    84.735% 2.9%,
    84.526% 2.337%,
    84.246% 1.824%,
    83.901% 1.367%,
    83.5% 0.975%,
    83.048% 0.656%,
    82.554% 0.419%,
    82.024% 0.27%,
    81.465% 0.219%
  );
  border-radius: 12px;
  background: #d8b5ff;
  min-width: 400px;
}
.inner-event-card-container {
  clip-path: polygon(
    81.224% 0.243%,
    4.033% 0.243%,
    4.033% 0.243%,
    3.413% 0.3%,
    2.825% 0.464%,
    2.277% 0.728%,
    1.777% 1.082%,
    1.332% 1.516%,
    0.95% 2.023%,
    0.64% 2.593%,
    0.408% 3.216%,
    0.263% 3.885%,
    0.213% 4.591%,
    0.213% 95.462%,
    0.213% 95.462%,
    0.263% 96.167%,
    0.408% 96.836%,
    0.64% 97.46%,
    0.95% 98.03%,
    1.332% 98.536%,
    1.777% 98.971%,
    2.277% 99.325%,
    2.825% 99.588%,
    3.413% 99.753%,
    4.033% 99.81%,
    96.082% 99.81%,
    96.082% 99.81%,
    96.702% 99.753%,
    97.29% 99.588%,
    97.838% 99.325%,
    98.338% 98.971%,
    98.783% 98.536%,
    99.165% 98.03%,
    99.475% 97.46%,
    99.707% 96.836%,
    99.852% 96.167%,
    99.902% 95.462%,
    99.902% 23.443%,
    99.902% 23.443%,
    99.852% 22.737%,
    99.707% 22.068%,
    99.475% 21.445%,
    99.165% 20.875%,
    98.783% 20.368%,
    98.338% 19.934%,
    97.838% 19.58%,
    97.29% 19.316%,
    96.702% 19.152%,
    96.082% 19.095%,
    88.862% 19.095%,
    88.862% 19.095%,
    88.243% 19.038%,
    87.655% 18.873%,
    87.107% 18.61%,
    86.607% 18.256%,
    86.162% 17.821%,
    85.78% 17.315%,
    85.469% 16.745%,
    85.238% 16.121%,
    85.093% 15.452%,
    85.043% 14.747%,
    85.043% 4.591%,
    85.043% 4.591%,
    84.993% 3.885%,
    84.848% 3.216%,
    84.617% 2.593%,
    84.306% 2.023%,
    83.924% 1.516%,
    83.479% 1.082%,
    82.979% 0.728%,
    82.431% 0.464%,
    81.843% 0.3%,
    81.224% 0.243%
  );

  border-radius: 12px;
  background: rgb(69, 69, 6);
  scale: 0.93;
}
.event-card-user {
  width: 100%;
  max-width: 350px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  padding: 10px;
}
/* 
.event-card::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("https://hebbkx1anhila5yf.public.blob.vercel-storage.com/image-FzRwZTLxNYiWbeA3aGWXsO55Pi6vun.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
} */

.event-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: white;
}

.event-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
  text-overflow: ellipsis;
  max-width: 300px;
  overflow: hidden;
  max-height: 50px;
}

.event-description {
  font-size: 14px;
  line-height: 1.5;
  max-height: 50px;
  margin-bottom: 20px;
}

.event-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.event-date,
.event-price {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.calendar-icon {
  width: 30px;
}
.price-icon {
  width: 24px;
}

.rsvp-button {
  background: var(--accent-white);
  color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.rsvp-button:hover {
  transform: scale(1.05);
  border-radius: 10px;
}
/* Example CSS for the new button styles */
.unrsvp-button {
  background: var(--secondary);
  font-weight: bold;

  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 10px;
}

/* Responsive adjustments */
@media (max-width: 400px) {
  .event-card-user {
    max-width: 300px;
  }

  .event-title {
    font-size: 20px;
  }

  .event-description {
    font-size: 13px;
  }
}
