.modal {
  clip-path: polygon(
    99.554% 8.384%,
    99.554% 91.616%,
    99.554% 91.616%,
    99.495% 92.852%,
    99.326% 94.025%,
    99.055% 95.119%,
    98.692% 96.117%,
    98.246% 97.005%,
    97.726% 97.767%,
    97.141% 98.387%,
    96.5% 98.849%,
    95.813% 99.138%,
    95.089% 99.238%,
    11.941% 99.238%,
    11.941% 99.238%,
    11.217% 99.138%,
    10.53% 98.849%,
    9.889% 98.387%,
    9.304% 97.767%,
    8.784% 97.005%,
    8.338% 96.117%,
    7.975% 95.119%,
    7.704% 94.025%,
    7.535% 92.852%,
    7.477% 91.616%,
    7.477% 89.664%,
    7.477% 89.664%,
    7.431% 88.691%,
    7.297% 87.767%,
    7.084% 86.906%,
    6.798% 86.12%,
    6.447% 85.42%,
    6.038% 84.821%,
    5.577% 84.333%,
    5.073% 83.969%,
    4.532% 83.741%,
    3.962% 83.663%,
    3.962% 83.663%,
    3.391% 83.584%,
    2.85% 83.357%,
    2.346% 82.993%,
    1.886% 82.505%,
    1.476% 81.905%,
    1.125% 81.206%,
    0.839% 80.419%,
    0.626% 79.558%,
    0.492% 78.635%,
    0.446% 77.661%,
    0.446% 8.384%,
    0.446% 8.384%,
    0.505% 7.148%,
    0.674% 5.975%,
    0.945% 4.881%,
    1.308% 3.883%,
    1.754% 2.995%,
    2.274% 2.233%,
    2.859% 1.613%,
    3.5% 1.151%,
    4.187% 0.862%,
    4.911% 0.762%,
    95.089% 0.762%,
    95.089% 0.762%,
    95.813% 0.862%,
    96.5% 1.151%,
    97.141% 1.613%,
    97.726% 2.233%,
    98.246% 2.995%,
    98.692% 3.883%,
    99.055% 4.881%,
    99.326% 5.975%,
    99.495% 7.148%,
    99.554% 8.384%
  );

  background: white;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  border-color: var(--accent);
  width: 480px;
  height: 180px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
}
